.header {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin: auto;
   position: fixed;
   top: 0;
   background-color: transparent;
   z-index: 30;
   height: 5rem;
   padding: 0.75rem 3rem;
   .logo {
      align-self: center;
      font-size: 1.5rem;
      font-weight: 900;

      a:hover {
         color: #937d60;
      }
   }

   nav {
      align-self: center;
      ul {
         display: flex;
         gap: 1rem;
         li a {
            color: #333333d5;

            &:hover {
               color: #937d60;
               padding-bottom: 0.3rem;
               border-bottom: 1px solid #937d60;
               transition: .1s;
               
            }
         }
      }
      @include breakpoint(MS) {
         display: none;
      }
   }
   @include breakpoint(S) {
      width: 100%;
      height: 4rem;
      padding: 0.75rem;
   }

   .menu-icon {
      display: none;
      @include breakpoint(MS) {
         display: block;
      }
   }
}

.menu-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   transform: translateY(-150%);
   width: 100%;
   height: 100%;
   z-index: 20;
   background: #937d60;
   overflow: auto;
   text-align: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

   &.menu-open {
      z-index: 50;
      transform: translateY(0);
   }

   .menu-wrapper-logo {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      &.logo a {
         color: #fff;

         &:hover {
            opacity: 0.5;
         }
      }
   }

   .menu-button {
      position: absolute;
      top: 0.75rem;
      right: 8.5rem;
   }

   ul {
      margin: 0;
      padding: 0;
      &:hover {
         a {
            opacity: 0.5;
         }
         li:hover {
            >a {
               opacity: 1;
            }
         }
      }
      a {
         color: #fff;
         display: block;
         padding: 0.75rem;
         font-weight: 700;
      }
   }

   .nav-toggle {
      .menu-icon span {
         background: #fff;
      }
   }
}