.contact-content-section.pd-block{
   width: 45%;
   margin: auto;
   align-self: center;
   padding-top: 7rem;
   @include breakpoint(S){
      width: 100%;
      padding-top: 2rem;
   }

   .contact-content-container{
      display: flex;
      justify-content: center;
      gap: 0rem;

      .wpcf7 {
         width: 100%;
         @include breakpoint(S){
            width: 100%;
         }
         .wpcf7-form {
            label{
               font-size: 1.1rem;
            }
            input{
               width: 100%;
               height: 40px;
               border-radius: 7px;
               margin-bottom: 0.5rem;
               outline: 0;
            }
            textarea{
            width: 100%;
            border-radius: 7px;
            border-radius: 7px;
            margin-bottom: 1rem;
            margin-top: 0.25rem;
            outline: 0;
            }
            .wpcf7-submit{
               border-radius: 7px;
               cursor: pointer;
               width: auto;
               display: inline-block;
               position: relative;
               text-align: center;
               background: #fff;
               padding: 1rem;
               height: auto;
               
            }
            .wpcf7-submit:hover{
                color: #fff;
               background-color: #937d60;
               border-color: #937d60;
            }
         }
      }
   }
}









