.content-container{
   padding-left: 4.2rem;
   margin: auto;
   flex-direction: column;
   gap: 5rem;

   .content-header{
      width: 55%;
      margin: auto;
      gap: 1.2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
   }
   // .content-text{
      
   // }
}



