.content-container{
   // padding-left: 4.2rem;
   margin: auto;
   flex-direction: column;
   gap: 5rem;
   @include breakpoint(S){
      padding-left: 0;
   }

   .content-header{
      width: 55%;
      margin: auto;
      gap: 1.2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
       @include breakpoint(S){
         width: 100%;
      }

      .buttons{
         align-self: center;
      }
   }
}



