.about-container{
   padding-block: 2rem;
   width: 85%;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 3rem;
   // @include breakpoint(S){
   //    padding-inline: 2rem;
   // }

   .about-header{
      width: 55%;
      gap: 1.2rem;
      display: flex;
      flex-direction: column;

     
   }

}



