.img-content-banner-container{
   margin-bottom: 2rem;
   background: black;
   @include breakpoint(S){
      padding-inline: 2rem;
   }

   .img-content-banner-content{
      width: 85%;
      height: 251px;
      margin: auto;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(ML){
         width: 100%;
      }
      @include breakpoint(S){
         height: 100%;
      }

      .img-content-banner-header{
         align-self: center;

         h2, h1{
            font-size: 57px;
            font-weight: 800;
            color: #6D6E71;

         }
      }
      .img-content-banner-image{
         height: 32rem;
         width: 25rem;
         @include breakpoint(S){
            width: 100%;
            height: 100%;
         }
      }
   }

}



