// hide dropdown options
tr[aria-level="2"]{
   display: none;
}
tr[aria-level="3"]{
   display: none;
}
tr[aria-level="4"]{
   display: none;
}
tr[aria-level="5"]{
   display: none;
}
div[tab-index='0']{
   overflow: hidden; 
}
.components-resizable-box__container{
   height: 32rem;
}
body .is-layout-flex, .wp-block-columns, .wp-block-column{
   // display: unset;
   flex-basis: unset !important;
   flex-grow: unset !important;
   word-break: initial !important;
   overflow-wrap: initial !important;
}

#searchsubmit{
   // display: none;
}

#searchform input{
   background: transparent;
   outline: none;
}

html :where(.wp-block){
   max-width: 100%;
}

//editor styling
.block-editor-block-list__layout{

.wp-block-raycore-courses {
   gap: 2rem;
   .block-editor-block-list__layout{
      display: flex;
      gap: 1rem;

      .courses-header{
         bottom: 100%;
         text-align: center;
      }
   }
}

//gallery editor
.wp-block-raycore-gallery .gallery-container .gallery-img .components-resizable-box__container{
   height: 100% !important;
}

//media editor
.wp-block-raycore-newmedia .display-con{
   .thumb-bar-video{
      .thumb-container{
         .texts{
            display: block;
         }
      }
   }
}
}