// hide dropdown options
tr[aria-level="2"]{
   display: none;
}
tr[aria-level="3"]{
   display: none;
}
tr[aria-level="4"]{
   display: none;
}
tr[aria-level="5"]{
   display: none;
}
div[tab-index='0']{
   overflow: hidden; 
}
.components-resizable-box__container{
   // height: 32rem;
   height: 100%;
}
body .is-layout-flex, .wp-block-columns, .wp-block-column{
   // display: unset;
   flex-basis: unset !important;
   flex-grow: unset !important;
   word-break: initial !important;
   overflow-wrap: initial !important;
}

#searchsubmit{
   // display: none;
}

#searchform input{
   background: transparent;
   outline: none;
}

html :where(.wp-block){
   max-width: 100%;
   margin-block: 0 !important;
}

//editor styling
.block-editor-block-list__layout{
   .wp-block-image .components-resizable-box__container {
      height: 100% !important;
      width: 100% !important;
   }
   .row-container{
      display: flex;
      .row-list-item{
         position: relative !important;
         top: 50% !important;
         left: 20% !important;
         color: #333 !important;
      }
      .row-image:after{
         content: none !important;
      }
   }

    .podcast-header{
      display: flex;
      gap: 5rem;

      .podcast-item{
         position: relative !important;
         audio{
            min-width: 100px;
         }
      }
       .podcast-image{
         position: relative !important;
      
      &:after{
         content: none !important;
      }
   }
   }

   .about-container{
      align-items: baseline;
   }

.wp-block-raycore-courses {
  
   width: 100%;
   gap: 2rem;
   .custom-add-row{
      align-self: end;
   }
   .block-editor-block-list__layout{
      // display: flex;
      gap: 1rem;

   
      .courses-header{
         bottom: 100%;
         text-align: center;
      }
      .rows{
         display: flex;
         align-items: end;
      }

      .row-container{
         width: 100%;
         height: 20rem;
         .row-list-item{
            width: 50%;
         }
         figure{
            width: 50%;
            .components-resizable-box__container{
               height: 100% !important;
               width: 100% !important;
            }
         }
      }
   }
}

//gallery editor
.wp-block-raycore-gallery .gallery-container .gallery-img .components-resizable-box__container{
   height: 100% !important;
}

//media editor
.media-container .display-con{
   .full-img{
      .text{
         display: none;
      }
   }
   .thumb-bar-video{
      .thumb-container{
         .texts{
            display: block;
         }
      }
   }
}
.banner-content-header{
   grid-column: 1;
}
.banner-img:after{
   content: none;
}
}