.gallery-section{
   .gallery-container{
      gap: 0;

      .gallery-img{
         width: calc(100% / 3);
         aspect-ratio: 3/4;
         @include breakpoint(S){
            width: 100%;
          
         }
      }
   }
}